#dyna-sitebuild-site-wrap
{
}
#dyna-sitebuild-site-top-background
{
}
#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-head #dyna-sitebuild-site-head-edit, #dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-head #dyna-sitebuild-site-head-edit a,#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-head #dyna-sitebuild-site-head-edit a:visited,#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-head #dyna-sitebuild-site-head-edit a:link,#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-head #dyna-sitebuild-site-head-edit a:link:active,#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-head #dyna-sitebuild-site-head-edit a:visited:active
{
	display:block;
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-most-rest-head, #sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-most-rest-head
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-most-rest-head, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-landing .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-most-rest-head
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-most-rest-head, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-cover .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-most-rest-head
{
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub-top, #sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub-top
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub-top, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-landing .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub-top
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub-top, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-cover .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub-top
{
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-head, #sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-head
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-head, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-cover .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-head
{
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub, #sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-cover .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-head, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-landing .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-head
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-landing .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-tall #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-head, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-tall .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-head
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-tall #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-tall .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-short #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-head, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-short .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-head
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-short #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub, #sitebuild-site-top-rest-background-slide-container.dyna-sitebuild-site-top-rest-short .dyna-sitebuild-site-top-rest .dyna-sitebuild-site-top-rest-sub
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div, #dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div,#sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div.solid,#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div.solid,#sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div.solid,#sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div.outline:hover
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div.solid:hover,#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div.solid:hover,#sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div.solid:hover
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div.outline,#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div.outline,#sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div.outline
{
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div.outline:hover,#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div.outline:hover,#sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div.outline:hover
{
}
#dyna-sitebuild-site-top-nav-background
{
	background-image: none;
}
#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-navi ul li:not(.flag) a.active,#dyna-sitebuild-site-top-background-container #dyna-sitebuild-site-navi ul li:not(.flag) a:hover
{
}
.dyna-sitebuild-content, .dyna-sitebuild-content p, #dyna-sitebuild-content #dyna-sitebuild-search-result-content, .dyna-sitebuild-content .blog-post-comment-item, #dyna-sitebuild-content #dyna-sitebuild-search-result-content a, .dyna-sitebuild-block-edit li
{
}
.dyna-sitebuild-content h1, .dyna-sitebuild-content h1 a
{
}
.dyna-sitebuild-content h2, .dyna-sitebuild-content h2 a
{
}
.dyna-sitebuild-content h3, .dyna-sitebuild-content h3 a, .dyna-sitebuild-content .blog-post-wrap h3, .dyna-sitebuild-site-top-blog-background h3
{
}
.dyna-sitebuild-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.solid, .dyna-sitebuild-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.outline:hover, .dyna-sitebuild-block-contact form .dyna-sitebuild-message-button.Outline:hover, .dyna-sitebuild-block-contact form .dyna-sitebuild-message-button.Solid,.dyna-sitebuild-footer-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.solid, .dyna-sitebuild-footer-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.outline:hover
{
	color:var(--tool-button-color) !important;
}
.dyna-sitebuild-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.solid, .dyna-sitebuild-block-contact form .dyna-sitebuild-message-button.Solid,.dyna-sitebuild-footer-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.solid
{
	background-color: var(--tool-button-background-color) !important;
}
.dyna-sitebuild-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.solid:hover,.dyna-sitebuild-footer-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.solid:hover
{
}
.dyna-sitebuild-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.outline,.dyna-sitebuild-block-contact form .dyna-sitebuild-message-button.Outline,.dyna-sitebuild-footer-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.outline
{
	border-color:var(--tool-button-background-color) !important;
	color:var(--tool-button-background-color) !important;
}
.dyna-sitebuild-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.outline:hover, .dyna-sitebuild-block-contact form .dyna-sitebuild-message-button.Outline:hover, .dyna-sitebuild-footer-content .dyna-sitebuild-block-button .dyna-sitebuild-block-button-content.outline:hover
{
	border-color:var(--tool-button-background-color) !important;
	background-color: var(--tool-button-background-color) !important;
}
#dyna-sitebuild-footer-background
{
}
#dyna-sitebuild-content-products-wrap .dyna-sitebuild-content-product-desc, #dyna-product-right .dyna-product-title
{
}
#dyna-sitebuild-content-products-wrap .dyna-sitebuild-content-product-price
{
}
#dyna-product-right .dyna-product-title
{
}
#dyna-product-price
{
}
.dyna-sitebuild-block-product .dyna-sitebuild-block-product-content-title
{
}
.dyna-sitebuild-block-product .dyna-sitebuild-block-product-content-price
{
}
#dyna-sitebuild-site-top-background
{
	background-image: url("https://d24naddg1rhy2p.cloudfront.net/260288/6/0/%25E3%2580%2590%25E5%2593%25B2%25E9%25A3%258E%25E5%25A3%2581%25E7%25BA%25B8%25E3%2580%2591%25E5%2585%25A8%25E5%2591%2598-%25E5%2590%258E%25E8%2597%25A4%25E4%25B8%2580%25E9%2587%258C.png");
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-most-rest-head
{
	display:none;
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub-top
{
	display:none;
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-head
{
	display:block;
}
#dyna-sitebuild-site-top-rest-background #dyna-sitebuild-site-top-rest #dyna-sitebuild-site-top-rest-sub
{
	display:block;
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div, #dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div, #sitebuild-site-top-rest-background-slide-container .dyna-sitebuild-site-top-rest-button div
{
	display:none;
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div.solid,#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div.solid
{
	display:none;
}
#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-landing #dyna-sitebuild-site-top-rest-button div.outline,#dyna-sitebuild-site-top-rest-background.dyna-sitebuild-site-top-rest-cover #dyna-sitebuild-site-top-rest-button div.outline
{
	display:none;
}
#dyna-sitebuild-site-top-rest
{
	background-color: rgba(253, 253, 253, 0) !important;
	background-position:left top !important;
	background-size:auto !important;
	background-repeat:repeat !important;
}
.header-layout08 #dyna-sitebuild-site-top-rest-image
{
	background-color: transparent !important;
	background-image: url(/c/h/header-layout08.png);
}
@media screen and (max-width:768px){#dyna-sitebuild-site-top-background
{
}
}@font-face {
  font-family: 'Arvo';
  src: url('/custom-fonts?fontId=220&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Lemon';
  src: url('/custom-fonts?fontId=56&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabin';
  src: url('/custom-fonts?fontId=104&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito';
  src: url('/custom-fonts?fontId=123&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/custom-fonts?fontId=211&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/custom-fonts?fontId=230&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Serif';
  src: url('/custom-fonts?fontId=170&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Oxygen';
  src: url('/custom-fonts?fontId=33&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Palatino Linotype';
  src: url('/custom-fonts?fontId=17&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=15&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=18&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=16&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/custom-fonts?fontId=159&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gentium Basic';
  src: url('/custom-fonts?fontId=86&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Karla';
  src: url('/custom-fonts?fontId=102&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ewert';
  src: url('/custom-fonts?fontId=124&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/custom-fonts?fontId=204&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Karla';
  src: url('/custom-fonts?fontId=101&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Amaranth';
  src: url('/custom-fonts?fontId=186&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cantarell';
  src: url('/custom-fonts?fontId=38&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/custom-fonts?fontId=229&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cantarell';
  src: url('/custom-fonts?fontId=36&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('/custom-fonts?fontId=25&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Luckiest Guy';
  src: url('/custom-fonts?fontId=84&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('/custom-fonts?fontId=147&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arvo';
  src: url('/custom-fonts?fontId=219&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('/custom-fonts?fontId=198&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cabin';
  src: url('/custom-fonts?fontId=105&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Copperplate Plus';
  src: url('/custom-fonts?fontId=138&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=140&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=141&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=139&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fredericka the Great';
  src: url('/custom-fonts?fontId=173&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('/custom-fonts?fontId=96&isCommon=true') format('woff'),
url('/custom-fonts?fontId=94&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=95&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=97&isCommon=true') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/custom-fonts?fontId=215&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/custom-fonts?fontId=72&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('/custom-fonts?fontId=224&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/custom-fonts?fontId=185&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=183&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=182&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=184&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/custom-fonts?fontId=129&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rufina';
  src: url('/custom-fonts?fontId=91&isCommon=true') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hind';
  src: url('/custom-fonts?fontId=132&isCommon=true') format('truetype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('/custom-fonts?fontId=151&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('/custom-fonts?fontId=149&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bree Serif';
  src: url('/custom-fonts?fontId=83&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/custom-fonts?fontId=71&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/custom-fonts?fontId=181&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stoke';
  src: url('/custom-fonts?fontId=60&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cardo';
  src: url('/custom-fonts?fontId=80&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dancing Script';
  src: url('/custom-fonts?fontId=6&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Serif';
  src: url('/custom-fonts?fontId=168&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('/custom-fonts?fontId=165&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/custom-fonts?fontId=210&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/custom-fonts?fontId=180&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Advent Pro';
  src: url('/custom-fonts?fontId=44&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cantarell';
  src: url('/custom-fonts?fontId=39&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Abril Fatface';
  src: url('/custom-fonts?fontId=120&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('/custom-fonts?fontId=146&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IM Fell English';
  src: url('/custom-fonts?fontId=4&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Hind';
  src: url('/custom-fonts?fontId=136&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=135&isCommon=true') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('/custom-fonts?fontId=155&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Molengo';
  src: url('/custom-fonts?fontId=207&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Serif';
  src: url('/custom-fonts?fontId=169&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Patua One';
  src: url('/custom-fonts?fontId=85&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/custom-fonts?fontId=208&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cardo';
  src: url('/custom-fonts?fontId=82&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('/custom-fonts?fontId=166&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/custom-fonts?fontId=55&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rozha One';
  src: url('/custom-fonts?fontId=111&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=110&isCommon=true') format('woff'),
url('/custom-fonts?fontId=108&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=109&isCommon=true') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabin';
  src: url('/custom-fonts?fontId=107&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Pacifico';
  src: url('/custom-fonts?fontId=172&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gentium Basic';
  src: url('/custom-fonts?fontId=87&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Metamorphous';
  src: url('/custom-fonts?fontId=194&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Karla';
  src: url('/custom-fonts?fontId=100&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/custom-fonts?fontId=21&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Varela';
  src: url('/custom-fonts?fontId=32&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('/custom-fonts?fontId=27&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cookie';
  src: url('/custom-fonts?fontId=156&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gentium Basic';
  src: url('/custom-fonts?fontId=89&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('/custom-fonts?fontId=126&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/custom-fonts?fontId=113&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Amaranth';
  src: url('/custom-fonts?fontId=188&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Amaranth';
  src: url('/custom-fonts?fontId=189&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/custom-fonts?fontId=214&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/custom-fonts?fontId=163&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/custom-fonts?fontId=19&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rokkitt';
  src: url('/custom-fonts?fontId=57&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Coustard';
  src: url('/custom-fonts?fontId=137&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('/custom-fonts?fontId=26&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Glegoo';
  src: url('/custom-fonts?fontId=118&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Questrial';
  src: url('/custom-fonts?fontId=119&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Architects Daughter';
  src: url('/custom-fonts?fontId=52&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Iceberg';
  src: url('/custom-fonts?fontId=103&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('/custom-fonts?fontId=196&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito';
  src: url('/custom-fonts?fontId=121&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/custom-fonts?fontId=70&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/custom-fonts?fontId=130&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Oxygen';
  src: url('/custom-fonts?fontId=35&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tangerine';
  src: url('/custom-fonts?fontId=93&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'News Cycle';
  src: url('/custom-fonts?fontId=47&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/custom-fonts?fontId=228&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/custom-fonts?fontId=199&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/custom-fonts?fontId=212&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rufina';
  src: url('/custom-fonts?fontId=90&isCommon=true') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/custom-fonts?fontId=202&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/custom-fonts?fontId=179&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arvo';
  src: url('/custom-fonts?fontId=218&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/custom-fonts?fontId=128&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tangerine';
  src: url('/custom-fonts?fontId=92&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Copperplate Swash';
  src: url('/custom-fonts?fontId=76&isCommon=true') format('woff'),
url('/custom-fonts?fontId=77&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=75&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=78&isCommon=true') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lobster';
  src: url('/custom-fonts?fontId=79&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/custom-fonts?fontId=209&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monoton';
  src: url('/custom-fonts?fontId=206&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IM Fell English';
  src: url('/custom-fonts?fontId=3&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/custom-fonts?fontId=153&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Copperplate Classic';
  src: url('/custom-fonts?fontId=64&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=63&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=62&isCommon=true') format('woff'),
url('/custom-fonts?fontId=61&isCommon=true') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'News Cycle';
  src: url('/custom-fonts?fontId=46&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playball';
  src: url('/custom-fonts?fontId=23&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dosis';
  src: url('/custom-fonts?fontId=115&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/custom-fonts?fontId=160&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito';
  src: url('/custom-fonts?fontId=122&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('/custom-fonts?fontId=192&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('/custom-fonts?fontId=145&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia';
  src: url('/custom-fonts?fontId=217&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dosis';
  src: url('/custom-fonts?fontId=116&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Serif';
  src: url('/custom-fonts?fontId=171&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/custom-fonts?fontId=162&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('/custom-fonts?fontId=190&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oxygen';
  src: url('/custom-fonts?fontId=34&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MarcellusSCRegular';
  src: url('/custom-fonts?fontId=176&isCommon=true') format('woff'),
url('/custom-fonts?fontId=174&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=175&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=177&isCommon=true') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/custom-fonts?fontId=154&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('/custom-fonts?fontId=191&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/custom-fonts?fontId=112&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/custom-fonts?fontId=69&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Codystar';
  src: url('/custom-fonts?fontId=40&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Glegoo';
  src: url('/custom-fonts?fontId=117&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/custom-fonts?fontId=213&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/custom-fonts?fontId=203&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/custom-fonts?fontId=54&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hind';
  src: url('/custom-fonts?fontId=133&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=134&isCommon=true') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('/custom-fonts?fontId=225&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/custom-fonts?fontId=53&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('/custom-fonts?fontId=197&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('/custom-fonts?fontId=127&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dancing Script';
  src: url('/custom-fonts?fontId=5&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Sans Mono';
  src: url('/custom-fonts?fontId=42&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Codystar';
  src: url('/custom-fonts?fontId=41&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/custom-fonts?fontId=74&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('/custom-fonts?fontId=148&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('/custom-fonts?fontId=193&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poly';
  src: url('/custom-fonts?fontId=222&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Amaranth';
  src: url('/custom-fonts?fontId=187&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cantarell';
  src: url('/custom-fonts?fontId=37&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('/custom-fonts?fontId=125&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Advent Pro';
  src: url('/custom-fonts?fontId=45&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('/custom-fonts?fontId=152&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poly';
  src: url('/custom-fonts?fontId=223&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cabin';
  src: url('/custom-fonts?fontId=106&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('/custom-fonts?fontId=167&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/custom-fonts?fontId=161&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'CormorantGaramondLight';
  src: url('/custom-fonts?fontId=7&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=9&isCommon=true') format('woff'),
url('/custom-fonts?fontId=10&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=8&isCommon=true') format('woff2');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('/custom-fonts?fontId=24&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lora';
  src: url('/custom-fonts?fontId=164&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/custom-fonts?fontId=231&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/custom-fonts?fontId=216&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/custom-fonts?fontId=20&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/custom-fonts?fontId=200&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bangers';
  src: url('/custom-fonts?fontId=178&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('/custom-fonts?fontId=195&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Karla';
  src: url('/custom-fonts?fontId=99&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/custom-fonts?fontId=73&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('/custom-fonts?fontId=143&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/custom-fonts?fontId=131&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Spirax';
  src: url('/custom-fonts?fontId=98&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arvo';
  src: url('/custom-fonts?fontId=221&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mate SC';
  src: url('/custom-fonts?fontId=157&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dosis';
  src: url('/custom-fonts?fontId=114&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('/custom-fonts?fontId=144&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Copperplate Sans';
  src: url('/custom-fonts?fontId=29&isCommon=true') format('woff'),
url('/custom-fonts?fontId=30&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=28&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=31&isCommon=true') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/custom-fonts?fontId=22&isCommon=true') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Reenie Beanie';
  src: url('/custom-fonts?fontId=142&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stoke';
  src: url('/custom-fonts?fontId=59&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('/custom-fonts?fontId=150&isCommon=true') format('woff');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/custom-fonts?fontId=158&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/custom-fonts?fontId=201&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gentium Basic';
  src: url('/custom-fonts?fontId=88&isCommon=true') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Actor';
  src: url('/custom-fonts?fontId=205&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rokkitt';
  src: url('/custom-fonts?fontId=58&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Advent Pro';
  src: url('/custom-fonts?fontId=43&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/custom-fonts?fontId=227&isCommon=true') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cardo';
  src: url('/custom-fonts?fontId=81&isCommon=true') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CenturyGothicBold';
  src: url('/custom-fonts?fontId=48&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=49&isCommon=true') format('woff2'),
url('/custom-fonts?fontId=50&isCommon=true') format('woff'),
url('/custom-fonts?fontId=51&isCommon=true') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Copperplate Round';
  src: url('/custom-fonts?fontId=67&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=68&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=66&isCommon=true') format('woff'),
url('/custom-fonts?fontId=65&isCommon=true') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/custom-fonts?fontId=226&isCommon=true') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Palatino Linotype';
  src: url('/custom-fonts?fontId=13&isCommon=true') format('truetype'),
url('/custom-fonts?fontId=12&isCommon=true') format('woff'),
url('/custom-fonts?fontId=14&isCommon=true') format('embedded-opentype'),
url('/custom-fonts?fontId=11&isCommon=true') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
